/**
 * Theme Name: Flirt
 * Description: ...
 * Author: Kittipon.W
 * Version: 1.0
 * License: GNU General Public License
 * Tags:
 * 
 */

html {
	position: relative;
	min-height: 100%;
}
body {
	font-size: 1.3rem;
	font-family: 'Open Sans', sans-serif;
	
	/* Margin top by header height */
	margin-top: 8.5rem;
	
	/* Margin bottom by footer height */
	margin-bottom: 4.5rem;
}

@media (min-width: 1200px) {
	.container {
		width: 1100px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	body {
		margin-top: 6.8rem;
	}
}
@media (max-width: 767px) {
	body {
		margin-top: 5.5rem;
	}
}

a {
	color: #E85356;
	text-decoration: none;
	
	transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
a:hover {
	color: #000;
	text-decoration: none;
}

a.inverse { color: #000; }
a.inverse:hover { color: #E85356; }

h1, h2, h3, h4, h5, h6 {
	margin: 1.5rem 0;
}

p {
	margin: 0 0 1.5rem;
}

/* ========== ========== ========== ========== ==========
 * 					S I T E - H E A D E R
 * ========== ========== ========== ========== ==========
 */
#site-header {
	background: #FFF;
	height: 8.5rem;
	
	transition: height 0.5s ease-in-out, border 0.5s ease-in-out;
}
#site-header > .container {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	
	transition: padding 0.5s ease-in-out;
}
#site-branding {}
#site-branding-logo {
	height: 5.0rem;
	transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}
#site-branding-name {
	font-size: 3.0rem;
	font-weight: bold;
	letter-spacing: 0.2rem;
	margin-top: 0;
	margin-bottom: 0;
}
#site-branding-name > a:hover {
	color: #E85356;
}
#site-branding-desc {
	font-weight: normal;
	letter-spacing: 0.2rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	
	transition: 0.5s ease-in-out;
}

.header-collapsed {
	border-bottom: 2px solid #E85356;
	height: 4.5rem !important;
}
.header-collapsed > .container {
	padding-top: 0.8rem !important;
	padding-bottom: 0.8rem !important;
}
.header-collapsed #site-branding-logo {
	height: 3.0rem;
}
.header-collapsed #site-branding-desc {
	font-size: 0;
	margin: 0;
}

@media (min-width: 768px) and (max-width: 991px) {
	#site-header {
		height: 6.8rem;
	}
	#site-branding-logo {
		height: 3.5rem;
	}
	#site-branding-desc {
		font-size: 0;
		margin: 0;
	}
}
@media (max-width: 767px) {
	#site-header {
		background-color: #FFF !important;
		border-bottom: 2px solid #E85356;
		min-height: 5.5rem;
		height: auto !important;
	}
	#site-header > .container {
		padding-top: 1.0rem;
		padding-bottom: 0.8rem;
	}
	#site-branding-logo,
	#site-branding-name {
		margin-left: 1.5rem;
	}
	#site-branding-logo  {
		height: 3.0rem;
	}
	#site-branding-desc {
		font-size: 0;
		margin: 0;
	}
	.navbar-toggle {
		margin-top: 0;
		margin-bottom: 0;
	}
}

/* ========== ========== ========== ========== ==========
 * 		S I T E - N A V I G A T I O N - T O P
 * ========== ========== ========== ========== ==========
 */
#site-navigation-top {}
#site-navigation-top li {}
#site-navigation-top a {
	color: #555;
}
#site-navigation-top li li a {
	font-weight: normal;
}
#site-navigation-top > li > a {
	padding: 1.5rem 1.5rem 1.5rem 0;
	transition: padding 0.5s ease-in-out;
}
#site-navigation-top li > a {
	font-size: 1.3rem;
	font-weight: bold;
	
	transition: all 0.3s ease-in-out;
}
#site-navigation-top li:hover > a,
#site-navigation-top li:focus > a {
	color: #000;
}
#site-navigation-top li.active > a,
#site-navigation-top li.active:hover > a {
	background: none;
	box-shadow: none;
	color: #E85356;
}
#site-navigation-top .open a {
	background: none;
}

#site-navigation-top ul {
	opacity: 0;
	visibility: hidden;
	margin: 2.0rem 0 0 0;
	
	display: block;
	
	transition: opacity .2s ease-in-out, visibility .2s ease-in-out, margin .2s ease-in-out;
	
	border: none;
	border-radius: 0;
	padding: 0;
}

#site-navigation-top ul li {
	border-top: 1px solid #EBEBEB;
}
#site-navigation-top ul li:hover > a {
	color: black;
}
#site-navigation-top ul li a {
	padding: 1.0rem 1.5rem;
}

#site-navigation-top li:hover > ul {
	opacity: 1;
	visibility: visible;
	margin: 0;
}

#site-navigation-top ul ul {
	top: 0;
	right: 100.5%;
	margin: 0 2.0rem 0 0;
}

.header-collapsed #site-navigation-top > li > a {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

@media (min-width: 768px) and (max-width: 991px) {
	#site-navigation-top > li > a {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
	}
}
@media (max-width: 767px) {
	#site-navigation {
		border: none;
	}
	#site-navigation-top {}
	#site-navigation-top ul {
		margin: 0;
		padding-left: 1.5rem;
		width: 100%;
		position: static;
		opacity: 1;
		visibility: visible;
		display: block;
		box-shadow: none;
	}
	#site-navigation-top li {
		position: static;
		clear: both;
		display: block;
	}
	#site-navigation-top > li > a {
		padding: 1.0rem 1.5rem;
	}
	#site-navigation-top ul li {
		border: none;
	}
	
}


/* ========== ========== ========== ========== ==========
 * 					P A G E - T I T L E
 * ========== ========== ========== ========== ==========
 */
#page-title {
	background-color: #555;
	/*background-color: #F7F7F7;*/
	box-shadow: 0 0 10px rgba(0,0,0,.12);
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}
#page-title-name {
	margin: 1.0rem 0;
	font-size: 1.8rem;
	font-weight: 400;
}

.breadcrumb {
	font-size: 1.3rem;
	background: none;
	margin: 1.0rem 0;
	padding: 0;
}

.breadcrumb span {
	display: inline-block;
}

.breadcrumb li {
	/*border: 1px dotted red;*/
}

#page-title,
.breadcrumb > .active {
	color: #DDDDDD;
}


/* ========== ========== ========== ========== ==========
 * 				S I T E - C O N T E N T
 * ========== ========== ========== ========== ==========
 */
#site-content {}


/* ========== ========== ========== ========== ==========
 * 				S I T E - F O O T E R
 * ========== ========== ========== ========== ==========
 */
#site-footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	background-color: #FFF;
	box-shadow: 0 0 10px rgba(0,0,0,.12);
	
	/* Set the fixed height of the footer here */
	height: 4.5rem;
}

#site-footer-text {
	font-weight: normal;
	margin-top: 1.5rem;
}


/* ========== ========== ========== ========== ==========
 * 	  				B L O G - P O S T 
 * ========== ========== ========== ========== ==========
 */
.blog-post {}
.blog-post:before {
	content: "";
	display: table;
}

.post-header {}
.post-header hr {
	margin: 1.0rem 0 0.5rem;
}

.post-header-title,
.post-comments-title {
	margin: 0 0 1.5rem;
	padding: 1.5rem 0;
	font-size: 1.5rem;
	font-weight: 600;
	
	border-bottom: 1px solid #555;
}
.post-header-title {
	padding-top: 0;
}
.post-header-title > a {
	color: #333;
}
.post-header-title > a:hover {
	color: #E85356;
}

.post-body {
	margin-top: 2.0rem;
}

.post-detail,
.post-tags {
	font-size: 0;
	list-style: none;
	padding-left: 1.5rem;
	margin-bottom: 1.5rem;
}
.post-detail li {
	font-size: 1.1rem;
	padding-bottom: 0.5rem;
}
.post-detail i {
	font-size: 1.3rem;
	margin-right: 0.8rem;
}
.post-tags li {
	display: inline-block;
	margin-bottom: 0.5rem;
	margin-right: 0.5rem;
}
.post-tags li > a {
	display: block;
	font-size: 1.1rem;
	color: #FFF;
	background-color: #555;
	padding: 0.5rem 1.0rem;
}
.post-tags li > a:hover {
	background-color: #E85356;
}

.post-media,
.post-excerpt,
.post-content {
	margin: 0 0 1.5rem;
}


/* ========== ========== ========== ========== ==========
 * 				M E D I A - W R A P P E R
 * ========== ========== ========== ========== ==========
 */
.media {
	position: relative;
	padding-bottom: 60%;
	padding-top: 3.0rem;
	height: 0;
	overflow: hidden;
} 
.media iframe, 
.media object, 
.media embed,
.media video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

audio { 
	width: 100%;
	border-radius: 0;
	background-color: #000;
}


/* ========== ========== ========== ========== ==========
 * 				M A S O N R Y - G R I D
 * ========== ========== ========== ========== ==========
 */
.masonry-wrapper { 
	margin: 3.0rem -1.5rem;
}

.masonry-item-4,
.masonry-item-3,
.masonry-item-2 {
	padding: 1.5rem;
}

.masonry-item-4 { width: 25%; }
.masonry-item-3 { width: 33.3333333%; }
.masonry-item-2 { width: 50%; }

@media (min-width: 992px) and (max-width: 1199px) {
	.masonry-item-4 { width: 33.3333333%; }
}
@media (min-width: 768px) and (max-width: 991px) {
	.masonry-item-4 { width: 50%; }
	.masonry-item-3 { width: 50%; }
}
@media (max-width: 767px) {
	.masonry-item-4,
	.masonry-item-3,
	.masonry-item-2 { width: 100%; }
}


/* ========== ========== ========== ========== ==========
 * 			M A S O N R Y - B L O G - P O S T
 * ========== ========== ========== ========== ==========
 */
.masonry-blog-post {
	background: #FFF;
	border: 1px solid #777;
}

.masonry-blog-post .post-header-title {
	border: none;
	margin: 0;
	padding: 1.5rem;
	
	background: #;
}
.masonry-blog-post .post-media {
	border-top: 1px solid #777;
	border-bottom: 1px solid #777;
}
.masonry-blog-post .post-excerpt {
	padding: 0 1.5rem;
}

.masonry-blog-post .post-detail {
	margin: 0;
	padding-bottom: 1.5rem;
}


/* ========== ========== ========== ========== ==========
 * 				C O M M E N T S
 * ========== ========== ========== ========== ==========
 */
#blog-post-comments {
	margin: 4.5rem 0;
}
#blog-post-comments hr {
	margin: 1.0rem 0;
}
.post-comments-title {
	border-top: none;
}
.commentlist {
	padding: 0;
}
.commentlist .comment {
	list-style: none;
	padding-top: 2.5rem;
}
.commentlist > .comment {
	border-bottom: 1px dashed #E0E0E0;
}
.comment-body {
	position: relative;
	margin: 0 0 0 7.5rem;
	
	overflow: hidden;
	
}
.comment-author {
	font-weight: bold;
}
.comment-meta {
	font-size: 1.1rem;
}
.comment-content {
	padding-top: 1.5rem;
}

.avatar {
	float: left;
}

.reply-link {
	margin-left: 1.0rem;
}


/* ========== ========== ========== ========== ==========
 * 				R E S P O N D - F O R M
 * ========== ========== ========== ========== ==========
 */
#respond {
	margin: 4.5rem 0;
}
#commentform {}
#commentform .required {
	color: #ee3c59;
	font-size: 1.1rem;
}

.author-info label {
	display: block;
	padding-top: 2.0rem;
}
.author-info input[type="text"] {
	height: 3.0rem;
}

.author-info input[type="text"],
.author-info textarea {
	border: none;
	background-clip: padding-box;
	background-color: #FAFAFA;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	
	padding: 0.5rem;
	
	outline: 0;
	width: 100%;
	
	transition: background-color .2s ease-in-out;
}
.author-info input[type="text"].error,
.author-info textarea.error {
	background-color: #FFDFDF;
}

.form-submit {
	margin: 1.5rem 0 0;
}
.form-submit input[type="submit"] {
	color: #FFF;
	background-image: none;
	background-color: #555;
	border: 1px solid transparent;
	border-radius: 4px;
	padding: 6px 12px;
	
	transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.form-submit input[type="submit"]:hover {
	background-color: #E85356;
}


/* ========== ========== ========== ========== ==========
 * 					P A G I N A T I O N
 * ========== ========== ========== ========== ==========
 */
.pagination {
	display: block;
	font-size: 1.1rem;
	line-height: 1.3rem;
	text-align: center;
	padding: 2.0rem 0;
	margin: 2.5rem 0;
	position: relative;
	
	/*border: 1px dotted blue;*/
}

.pagination span, .pagination a {
	border: none;
	padding: 1.0rem 1.5rem;
	text-decoration: none;
	width: auto;
	color: #FFF;
	background: #555;
}

.pagination a:hover{
	color: #FFF;
	background: #E85356;
}

.pagination .current{
	padding: 1.0rem 1.5rem;
	background: #E85356;
	color:#fff;
}


/* ========== ========== ========== ========== ==========
 * 				W I D G E T - M O D U L E
 * ========== ========== ========== ========== ==========
 */
.widget-module {
	padding: 0 1.0rem;
}
.widget-title {
	margin: 0 0 3.0rem;
	font-size: 1.5rem;
	font-weight: 600;
}

.widget-module .searchform input[type="text"] {
	outline: 0;
	background: transparent;
	
	letter-spacing: 0.2rem;
	padding: 0.8rem 0;
	
	width: 100%;
	border-width: 0 0 1px;
}

.widget-module ul {
	list-style-type: none;
	padding: 0;
}
.widget-module ul ul {
	padding-left: 3.0rem;
	padding-top: 1.0rem;
}
.widget-module li a {
	color: #000;
}
.widget-module li a:hover,
.widget-module .current_menu_ancestor > a,
.widget-module .current_menu_item > a {
	color: #E85356;
}
.widget-module .current_menu_ancestor > a,
.widget-module .current_menu_item > a {
	font-weight: bold;
} 
.widget-module li {
	padding-bottom: 1.0rem;
}
.widget-module li + li,
.widget-module ul ul li {
	border-top: 1px solid #E0E0E0;
	padding-top: 1.0rem;
}
.widget-module ul ul li:last-child {
	padding-bottom:  0;
}


/* ========== ========== ========== ========== ==========
 * 				F L I R T - W I D G E T
 * ========== ========== ========== ========== ==========
 */
.flirt-recent-posts {
	list-style-type: none;
	padding: 0;
}
.flirt-recent-posts li {
	display: table;
	padding-bottom: 1.5rem;
	width: 100%;
}
.flirt-recent-posts li + li {
	border-top: 1px solid #E0E0E0;
	padding-top: 1.5rem;
}
.flirt-recent-posts li:last-child {
	padding-bottom: 0;
}

.feature-image {
	width: 10.0rem;
}
.recent-post-detail {
	position: relative;
	margin-left: 11.0rem;
	
	overflow: hidden;
}
.title {
	margin-top: 0.3rem;
}
.title > a { color: black; }
.title > a:hover { color: #E85356; }

.recent-post-detail .meta > p {
	font-size: 1.1rem;
	margin: 0;
}



/* ========== ========== ========== ========== ==========
 * 					S E C T I O N
 * ========== ========== ========== ========== ==========
 */
section {
	position: relative;
	z-index: 11;
}
section:before {
	content: "";
	display: table;
}

section, .widget-module, .blog-post {
	margin: 6.5rem 0;
}




/* ========== ========== ========== ========== ==========
 * 					B L O C K Q U O T E
 * ========== ========== ========== ========== ==========
 */
blockquote,
blockquote.blockquote-reverse {
	border-color: #E85356;
}


/* ========== ========== ========== ========== ==========
 * 					T Y P O G R A P H Y
 * ========== ========== ========== ========== ==========
 */
.dropcap {
	display: inline;
	padding: 0.5rem 0.8rem;
	float: left;
	margin: 0 1.0rem 0 0;
	font: normal 3.5em/.9em 'Arial narrow', Helvetica, sans-serif;
	text-align: center;
	
	color: #fff;
	background: #E85356;
}

.icons-ul {
	margin-left: 0;
}

strong {
	border-bottom: 2px dotted #E85356;
}
mark {
	background-color: #FFFF00;
}
pre {
	background: none;
	border-radius: 0;
	font-family: Consolas, Courier, Monaco, monospace;
	margin: 1.0rem 0;
}


/* ========== ========== ========== ========== ==========
 * 					A C C O R D I O N 
 * ========== ========== ========== ========== ==========
 */
.accordion {}
.accordion-heading a,
.accordion-heading a:hover {
	color: #E85356;
}
.accordion-heading .accordion-title > a.collapsed {
	color: #333;
}
.accordion-heading .accordion-title > a:before {
	font-family: FontAwesome;
	content: "\f068\00a0";
}
.accordion-heading .accordion-title > a.collapsed:before {
	content: "\f067\00a0";
}


/* ========== ========== ========== ========== ==========
 * 						T A B S
 * ========== ========== ========== ========== ==========
 */
.tabs {
	margin-bottom: 2.0rem;
}
.tab-title a {
	color: #333;
}
.tab-title a:hover,
.tab-title .active a {
	color: #E85356 !important;
}
.tab-content {
	padding-top: 1.5rem;
}

img.pull-left { margin-right: 1.5rem; }
img.pull-right { margin-left: 1.5rem; }
img.center-block { margin-bottom: 1.5rem; }



/* ========== ========== ========== ========== ==========
 * 				F L I R T - B U T T O N
 * ========== ========== ========== ========== ==========
 */
.flirt-btn {
	background-color: #E85356;
	margin: 0 0.5rem 0.5rem 0;
}
.flirt-btn:hover {
	background-color: #555;
}
.btn-icon:before {
	transform: rotate( -45deg );
	transition: transform 0.3s ease-in-out;
}
.btn-icon:after {
	content: "\00a0\00a0";
}
.btn-icon {
	color: #FFF;
}
.btn-text {
	color: #FFF;
    font-family:"Myriad Pro", "Trebuchet MS", sans-serif;
    display: block;
}
.btn-sub-text {
	font-family:Arial, sans-serif;
    font-size:1.0rem;
    letter-spacing:1px;
    text-transform:uppercase;
    color: #EEE;
    /*text-shadow:0px 1px 1px rgba(255,255,255,0.9);*/
}
.btn-sm {
	padding: 0.4rem 1.0rem;
}
.flirt-btn:hover .btn-icon,
.flirt-btn:hover .btn-text {
	color: #FFF;
}
.flirt-btn:hover .btn-icon:before {
    transform: rotate( 0deg );
}



/* ========== ========== ========== ========== ==========
 * 						E T C .
 * ========== ========== ========== ========== ==========
 */
.bold {
	font-weight: bold;
}


.col-heading {
	color: #000;
}
.col-heading:hover {
	color: #E85356;
}


/* ========== ========== ========== ========== ==========
 * 					P A R A L L A X
 * ========== ========== ========== ========== ==========
 */
.parallax-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
@media (min-width: 768px) and (max-width: 991px) {
	.parallax-bg {
	}
}
@media (max-width: 767px) {
	.parallax-bg {
	}
}


/* ========== ========== ========== ========== ==========
 * 				S E C T I O N - O V E R L A Y
 * ========== ========== ========== ========== ==========
 */
.section-overlay { 
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
	background-color: #FAFAFA;
	
	opacity: 0.5;
	z-index: 10;
}

.container { 
	position: relative; 
	z-index: 11;
}
.row {
}


/* figure */


/*.container { border: 1px dotted #EC971F; }*/
