.meta {
	/*border: 1px dotted red;*/
}
.meta a {
	text-decoration: none;
}

.meta label {
	margin-bottom: 5px;
	margin-right: 8px;
	font-weight: bold;
	float: left;
	/*border: 1px dotted red;*/
}

.meta input[type='text'] {
	margin: 0.1rem 0 0.5rem;
	width: 100%;
	font-size: 13px;
}
.meta input[type='text'][disabled] {
	color: #555;
}

.meta span {
	color: #999; 
}

.right {
	float: right !important;
}

.wrapper {
	position: relative;
}
.post-media-embed {
	position: absolute;
	top: 0;
	right: 0;
}


#image-preview {
	
}
#image-preview img {
	width: 350px;
 	max-width: 100%; 
 	height: auto;
}


#gallery-preview {}
#gallery-preview ul {
	font-size: 0;
}
#gallery-preview li {
	display: inline-block;
	position: relative;
	line-height: 0;
	width: 33.3333%;
	padding-right: 10px;
	margin-bottom: 10px;
	box-sizing: border-box;
}
.order {
	position: absolute;
	top: 0;
	right: 10px;
	padding: 10px;
	background: #FFF;
	color: #555 !important;
	opacity: 0.8;
	font-weight: bold;
}
#gallery-preview li img {
 	width: 100%; 
 	height: auto;
}

#gallery-remover {
	float: right;
}
